* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

}

body {
    font-family: 'Inter';

    background-image: url(../../img/otherRoutes/mainBG.svg);
}

header {
    margin: 0px 70px 150px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 80px;

}

.navbar ul {
    margin-top: 80px;
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
}

.navbar ul li a {

    color: white;
    padding: 4px 8px 4px 8px;
}
/* main section */


.date-section{
    height: 1600px;
}
.date-main{
    color: white;
}
.box{
    padding: 46px;
    margin: 0 auto;
    width: 1150px;
    height: 600px;
    border: white solid 10px;
}
.date-heading{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}
.date1{
    opacity: 0.6;
    font-size: 26px;
    text-align: center;
    margin-bottom: 40px;

}
/* contact */
.contact-wrapper{
    width: 100%;
    color: white;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    
    }
    .contact{
      font-size: 40px;
    }
    .footerBG{
      background-color: var(--footerBG);
      text-align: center;
    width: 100%;
    }
    .contact-wrapper ul {
      margin-top: 40px;
      font-size: 14px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
    
    }
    
    .contact-wrapper ul li a {
      color: white;
      padding: 4px 8px 4px 8px;
    
    
    }
    .numbers{
      font-size: 26px;
      margin-top: 50px;
      margin-bottom: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 220px;
    
    }
    .s4-icon-wrapper img{
      margin-top: 80px;
      margin-bottom: 30px;
      margin-left: 40px;
      margin-right: 40px;
    }
    .copyright{
      font-size: 12px;
      margin-top: 30px;
      margin-bottom: 30px;
    }